<h1>Edit Attraction</h1>

<%= form_for(@attraction) do |f|%>
  <div class="field">
    <%= f.label :name%> <br>
    <%= f.text_field :name%> <br>
  </div>

  <div class="field">
    <%= f.label :min_height %> <br>
    <%= f.number_field :min_height %> , "Min Height" <br>
  </div>

  <div class="field">
    <%= f.label :happiness_rating %> <br>
    <%= f.number_field :happiness_rating %> , "How fun is it?" <br>
  </div>

  <div class="field">
    <%= f.label :nausea_height %> <br>
    <%= f.number_field :nausea_rating %> , "Nausea rating" <br>
  </div>

  <div class="field">
    <%= f.label :tickets %> <br>
    <%= f.number_field :tickets %> , "How many tickets does it cost?" <br>
  </div>

  <%= f.submit%>
<%end%>
